{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
{% endblock %}
{% block content %}

<section class="hero">
    <div class="container">
        <h1 data-i18n="Gestion de  Reportes REDEMI">Gestiona tus Reportes REDEMI</h1>
        <p data-i18n="">Simple. Rápido. Profesional.</p>
        <div class="button-group">
            <a href="{{ url_for('upload.upload_archivo') }}" class="btn btn-primary" data-i18n="Subir Archivos">Subir Archivos</a>
            <a href="{{ url_for('main.reportes') }}" class="btn btn-secondary" data-i18n="Reportes">Reportes</a>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="feature">
            <i class="fas fa-cloud-upload-alt"></i>
            <h3 data-i18n="Carga Fácil">Carga Fácil</h3>
            <p data-i18n="Importa Excel en un click">Importa Excel en un click</p>
        </div>
        <div class="feature">
            <i class="fas fa-chart-line"></i>
            <h3 data-i18n="Análisis Rápido">Análisis Rápido</h3>
            <p data-i18n="Procesa al instante">Procesa al instante</p>
        </div>
        <div class="feature">
            <i class="fas fa-download"></i>
            <h3 data-i18n="Exporta Todo">Exporta Todo</h3>
            <p data-i18n="Descarga en Excel">Descarga en Excel</p>
        </div>
    </div>
</section>

{% endblock %}
